body{
  margin: 0;
  background-color: black;
  color: white;
  font-size: 2vh;
}
h1{
  text-align: center;
  font-size: 5vh;
}
h4{
  font-size: 2vh;
}
.container{
  max-width: 950px;
  width: 95vw;
}
#description{
  border-top:1px grey solid ;
  padding: 1%;
}
#date{
  border: 1px grey solid;
  border-right: 0;
  padding: 1%;

}

input , select{
  background-color: black;
  color: #888;
  padding: 1%;
  border: none;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button{
  margin: 2%;
  height: 4vh;
  font-size: 2vh;
}
.button_row{
  padding-top: 1%;
}
#add{
  background-color: gray;
  color: white;
}
#add:hover{
  background-color: rgb(100, 100, 100);
}
#del{
  background-color: red;
}
#del:hover{
  background-color: rgb(209, 21, 21);
}


.note_list{
  width: 90vw;
  max-height: 60vh;
  overflow-y: auto;
}
.item{
  border-top:1px grey solid ;
  padding: 1%;
}
.listitem{
  height: 25px;
}
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#textareac{
  width: 100%;
  height: 10vh;
}